.footer{
    background-color: #333; 
    color: #fff;
    padding: 50px 0;
    
   footer ul li a {
    color: #fff; 
   }
   
   footer ul li a:hover {
    color: #ccc; 
   }
   
   footer p {
    margin-bottom: 20px; 
   }
   
   footer ul li a i {
    margin-right: 10px;
   }
} 